@{
    ViewData["Title"] = "Home Page";
}
<font color = "Green">
<h2>Tính tuổi thông minh</h2></font>
<Form asp-action = "index">
    <label>Nhập tuổi của bạn: </label>
    <input type="text" name="Age">
    <input type="submit" value="Tính">
</Form>
<font color = "Red"><h3>@ViewBag.Age<h3/></font>